#content-main {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin-left:  350px;
 

  padding-top: 100px;


  
}

#content-main > .maintenance-item {
 
  height: 170px;
  margin: 20px;

  background-color: #D9D9D9;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  

  overflow: hidden;

  cursor: pointer;
  transition: all .2s ease-out;

  position: relative;

  color: #3B3C40;

}

#content-main > .maintenance-item:hover{
  background-color: #6691CC;
  color: #fff;
  transform: translateX(15px)
}

#content-main > .maintenance-item strong {
  font-size: 20px;
  font-weight: 500;
}

#content-main > .maintenance-item time {
  margin-top: 10px;
}

#content-main > .maintenance-item footer  {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#content-main > .maintenance-item small {
  background-color: #F23005;
  color: #fff;
  max-width: 100px;
  max-height: 25px;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  font-weight: 500;
}

#content-main > .maintenance-item nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#content-main > .maintenance-item nav button {
  font-size: 14px;
  border: none;
  padding: 7px;
  margin: 0 5px;
  background-color: transparent;
  color: #3B3C40;
  transition: all .3s ease;

  display: flex;
  align-items: center;
}


#content-main > .maintenance-item nav button svg {
  margin: 0 3px;
}

 


#content-main > .maintenance-item nav button:hover {
  color: #fff;
}

#content-main > .maintenance-item img{
  width: 200px;
  height: 200px;

  position: absolute;
  top: -3px;
  left: -30px;

  opacity: .2;
} 